.App { 

font-size: xx-large;
padding: 2vh;
}

.addButton {
background-color: pink;
padding: 2vh;
}

.listedItems {
    background-color: lightcoral;
    display: grid;
}

.deleteBtn {
    border-radius: 5vh;
    margin-left: 2vh;
}

.addTask {
    padding: 2vh;
    text-align: center;
    font-size: small;
}